<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Đăng nhập</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" th:href="@{/web/css/login.css}" />
</head>
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <h3 style="font-weight:700">Login</h1>
    </div>

    <!-- Login Form -->
    <form action="#" th:action="@{/login}" th:object="${user}" method="post">
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="username" th:field="*{username}">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="password" th:field="*{password}">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter" class="d-flex justify-content-between">
      <a class="underlineHover" href="#">Forgot Password?</a>
      <a class="underlineHover" th:href="@{register}">Register</a>
    </div>

  </div>
</div>
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</html>